.team {
    background-color: $secondary-background-color;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
          padding: 94px 0;
    }
}

.team__title {
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 30px 0;

      @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 28px;
      }
      @media screen and (min-width: 1200px) {
            font-size: 36px;
      }
}

.team__list {
      padding: 0;
      margin: 0;
      font-size: 0;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
      }

      @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
      }
      

}

.team__item {
      background-color: $primary-white-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      padding: 0 0 30px 0;
      
      @media screen and (min-width: 480px) and (max-width: 767px) {
            &:not(:last-child) {
                  margin-bottom: 30px;
            }
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 30px) / 2);
            margin-right: 30px;
            margin-bottom: 30px;
    
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
      }

      @media screen and (min-width: 1200px) {
            &:not(:last-child) {
                  margin-right: 30px;
            }
      }
}

.team__img {
      text-align: center;
}



.team__member {
      text-align: center;
      font-weight: $medium;
      font-size: $description-size;
      line-height: 1.2;
      margin: 30px 0 10px 0;
}

.team__text {
      text-align: center;
      font-size: $description-size;
      line-height: 1.2;
      color: $secondary-text-color;
      margin: 0 0 16px 0;
}

.icon-list {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
}

// .icon__item:not(:last-child) {
//       // margin-right: 10px;
// }

.icon__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: $primary-white-color;
      color: $selection-color;
      border-radius: 50%;
      transition: background-color, color, fill, $duration $bezier;

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $primary-white-color;
        }
}

.social__icon {
      width: 20px;
      height: 20px;
      fill: currentColor;
}