.page__footer {
    padding: 60px 0;
    background-color: $primary-background-color;
}

.footer--container {
    display: flex;
}

.webstudio--footer {
    margin: 0 0 20px 0;
}

.studio--footer {
    color: $primary-white-color;
}