.contacts {
    font-family: $main-font;
    font-weight: $medium;
    font-style: $normal-style;
    line-height: 1.4;
    list-style-type: none;
    padding: 0;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        font-weight: $medium;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        margin: 0;
        align-items: center;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}

.contacts__item {

    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.contacts__link {
    color: $secondary-text-color;
    transition: color $duration $bezier; 

    @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
   
        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.icon--envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.icon--smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}