// COLORS
$primary-white-color: #FFFFFF;
$primary-background-color: #2F303A;
$secondary-background-color: #F5F4FA;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$footer-link-color: rgba(255, 255, 255, 0.6);
$gradient-color: rgba(47, 48, 58, 0.4); 
$selection-color: #AFB1B8; 
$footer-icon-color: rgba(255, 255, 255, 0.1);
$header-border-color: #ECECEC; 
$doings-absolute-color: rgba(47, 48, 58, 0.8);
$examples-overlay-color: rgba(33, 150, 243, 0.9);
$grid-item-border: #EEEEEE;
$backdrop-color: rgba(0, 0, 0, 0.2);

// TRANSITIONS
$bezier: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

// FONT
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;


$main-size: 14px;
$description-size: 16px;
$product-size: 18px;
$modal-size: 20px;
$logo-font-size: 26px;
$title-size: 36px;
$hero-size: 44px;


$normal-style: normal;

$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;



